<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
       <testsuite name="model">
          <directory>test</directory>
       </testsuite>
    </testsuites>
    <filter>
        <whitelist
                addUncoveredFilesFromWhitelist="true"
                processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/model/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./tests/coverage/html/"/>
    </logging>

</phpunit>

